@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.banner-carousel-web .slick-list {
  overflow: hidden;
}

.banner-carousel-web .slick-track {
  display: flex;
}

.banner-carousel-web .slick-slide > div {
  height: 100%;
}

.banner-carousel-web .slick-prev,
.banner-carousel-web .slick-next {
  display: block !important;
  width: 40rem;
  height: 40rem;
  z-index: 10;
}

.banner-carousel-web .slick-prev {
  left: -20rem;
}

.banner-carousel-web .slick-next {
  right: -20rem;
}

.banner-carousel-web .slick-prev:before,
.banner-carousel-web .slick-next:before {
  font-size: 40rem;
  color: rgba(95, 64, 161, 0.8);
  opacity: 1;
}

.banner-carousel-web .slick-prev:hover:before,
.banner-carousel-web .slick-next:hover:before {
  color: rgba(95, 64, 161, 1);
}

.banner-carousel-web .slick-dots {
  bottom: -30rem !important;
}

.banner-carousel-web .slick-dots li button:before {
  color: rgba(95, 64, 161, 0.5) !important;
  font-size: 10rem !important;
  opacity: 1 !important;
}

.banner-carousel-web .slick-dots li.slick-active button:before {
  color: rgba(95, 64, 161, 1) !important;
}
